{
  "name": "Magento 2 GraphQL Schema",
  "schemaPath": "packages/api-client/schema.graphql",
  "extensions": {
    "endpoints": {
      "Default GraphQL Endpoint": {
        "url": "https://{YOUR_SITE_FRONT_URL}/graphql",
        "headers": {
          "user-agent": "JS GraphQL"
        },
        "introspect": false
      }
    }
  }
}
