{
  "branches": ["+([0-9])?(.{+([0-9]),x}).x", "master", "release"]
  "dryRun": false,
  "ci": false,
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/git",
    "@semantic-release/release-notes-generator",
  ]
}
